html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem 0 0 0;
  background-color: #030303;
  color: white;
}
.containerLayout{
  height: 100%
}

 main{
   display: flex;
   flex-direction: row;
 }

 footer{
  margin: 0 ;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: absolute;
 }